@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 14px;
  --line-height: 1.6;
  --background: #0B0E14;
  --grey1: #F8F9FA;
  --grey2: #bbb;
  --grey3: #888;
  --wash1: #4E4E4E;
  --wash2: #383838;
  --transparentBorder: rgb(255 255 255 / 0.1);
  --data-green: #00FF41;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  background-color: var(--background);
  font-family: var(--font-inter), sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--grey1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
